*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #e4ff84, #c3eef1);
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 50px;
}

/* 1.Transition Properties */

.Container img{
    width: 400px;
    height: 350px;
    border-radius: 20px;
    transition: all 1s linear 0s;
    box-shadow: 0 0 30px rgba(6, 9, 28, 0.792);
}
.Container img:hover{
    transform: translate(50px, -50px);
    transform: scale(1.2);
    transform: rotate(15deg);
    transform: skew(10deg);
    border-radius: 50%;
    box-shadow: 0 0 50px cyan;
}

/* 2.Position Properties */
 
.positions{
    position: relative;
    width: 400px;
    height: 300px;
    background: #334155;
    border: 3px solid #94a3b8;
    overflow: hidden;
}
.box{
    width: 80px;
    height: 80px;
    background: crimson;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box.static {
    position: static;
    background: rgb(194, 108, 92);
  }
  

  .box.relative {
    position: relative;
    top: 20px;
    left: 30px;
    background: royalblue;
  }

  .box.absolute {
    position: absolute;
    top: 30px;
    right: 30px;
    background: mediumseagreen;
  }
  

.box.fixed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: orange;
    z-index: 999;
  }

.box.sticky {
    position: sticky;
    top: 0;
    background: purple;
  }

  /* Felx + grid */
  .flex-demo {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  
  .flex-demo div {
    width: 80px;
    height: 80px;
    background: teal;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Grid container */
.grid-demo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  
  .grid-demo div {
    background: darkorange;
    height: 80px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* 4. Overflow */

  .overflow-demo {
    width: 300px;
    height: 150px;
    background: #475569;
    overflow: scroll;
    padding: 10px;
    border: 2px solid #94a3b8;
  }
  
  /* 5. Opacity */
  .opacity-demo {
    width: 200px;
    height: 200px;
    background: red;
    opacity: 0.2;
    transition: opacity 0.5s ease-in-out;
  }
  
  .opacity-demo:hover {
    opacity: 1;
  }
