.title{
    display: flex;                  /* enables flexbox */
    justify-content: center;        /* centers horizontally */
    align-items: center;            /* centers vertically */
    height: 100vh;      

}
.container{
    display: grid;
    border: 2px solid black;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 150px 150px 150px; 
    gap: 10px;
    padding: 10px;
    background-color: #2d355e;
    width: 800px;
    
}

.item1{
    background-color: rgb(46, 231, 46);
    grid-row-start: 1;
    grid-row-end : 4;
    grid-column-start: 1;
    /* grid-column-end : 2; */
}
.item2{
    background-color: rgb(46, 231, 46);
    grid-row-start: 1;
    grid-row-end : 2;
    grid-column-start: 2;
    grid-column-end: 4;        
}

.item3{
    background-color: rgb(189, 5, 5);
    grid-row-start: 1;
    grid-row-end : 2;
    grid-column-start: 4;
    grid-column-end: 5;
}

.item4{
    background-color: rgb(255, 128, 0);
    grid-row-start: 2;
    grid-row-end : 3;
    grid-column-start: 2;
    grid-column-end: 3;        
}
.item5{
    background-color: rgb(189, 5, 5);
    grid-row-start: 2;
    grid-row-end : 3;
    grid-column-start: 3;
    grid-column-end: 4;        
}
.item6 {
    background-color: rgb(189, 5, 5);
    grid-row-start: 3;
    grid-row-end: 4;         /* third row */
    grid-column-start: 2;
    grid-column-end: 3;      /* second column */
  }
  
  .item7 {
    background-color: rgb(255, 128, 0);
    grid-row-start: 3;
    grid-row-end: 4;        
    grid-column-start: 3;
    grid-column-end: 4;
  }
  .item8{
    background-color:rgb(46, 231, 46);
    grid-row-start: 2;
    grid-row-end : 4;
    grid-column-start: 4;
    grid-column-end: 5;
  }
  .item {
    border-radius: 5px;
  }
  
